@font-face {
  font-family: "";   /*Can be any text*/
  src: local("mothwing-demo"),
    url("./assets/font/mothwing-demo.otf") format("truetype");
}

@font-face {
  font-family: "twentyTwelve";   /*Can be any text*/
  src: local("Twentytwelve_Sans_R_Regular"),
    url("./assets/font/Twentytwelve_Sans_R_Regular.otf") format("truetype");
}